.cards__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  list-style-type: none;
  margin-top: 72px;
  padding-left: 0;
}

@media  screen and (max-width: 936px) {
  .cards__grid {
    justify-content: center;
  }
}