.card {
  /* border: 2px solid red; */
  color: #000;
  width: 282px;
  height: 361px;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__footer {
  border: 2px solid red;
  background-color: #FFF;
  height: 79px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__caption {
  border: 2px solid red;
  font-size: 24px;
  margin: 0;
  font-weight: 900;
}

.card__like-button {
  border: 2px solid red;
  box-sizing: border-box;
  width: 21px;
  height: 18px;
  background-image: url(../images/heart.svg);
  background-position: center;
}