.card {
  /* border: 2px solid red; */
  background-color: #FFF;
  color: #000;
  width: 282px;
  height: 361px;
  border-radius: 5%;

}

.card__image {
  width: 100%;
  height: 282px;
  border-radius: 5%;
}

.card__footer {
  /* border: 2px solid red; */
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__caption {
  font-size: 24px;
  font-weight: 900;
}

.card__like-button {
  /* border: 2px solid red; */
  box-sizing: border-box;
  width: 21px;
  height: 18px;
  background-image: url(../images/heart.svg);
  background-position: center;
}