.footer {

}

.footer__copyright {
  /* border: 2px solid red; */
  max-width: 880px;
  /* margin-left: 0; */
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
  margin: 67px auto 60px;

}

@media screen and (max-width: 895px) {
  .footer__copyright {
    max-width: 584px;
    margin: 48px auto 36px;
  }
}

@media screen and (max-width: 635px) {
  .footer__copyright {
    max-width: 282px;
  }
}