.profile {
  max-width: 100%;
  margin: 45px 0 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.profile__info {
  /* contains name, edit box, & occupation */
  max-width: 415px;
  max-width: 415px;
  display: grid;
  grid-template-columns: auto 24px;
  column-gap: 18px;
  row-gap: 16px;
  align-items: center;

}

.profile__user-name {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 42px;
  line-height: 1.1;
  margin: 0;
}

.profile__edit-button {
  background: url(../images/pencil-light.png) no-repeat center;
  border: 1px solid white;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__subtext {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.profile__add-button {
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  background: url(../images/cross.png) no-repeat center;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 0.6;
}